:root {
  /* colors */
  --text-dark: #000;
  --text-light: #fff;
  --text-grey: #adbdcc;
  --purple-1: #6962f7;
  --purple-2: #7000ff;
  --blue-1: #00d4ff;
  --primary-accent: #0a2540;
  --bg-white: #fff;
  --bg-light: #f7f9fc;

  /* Fonts */
  --body-font: "Anek Telugu", sans-serif;
  --heading-font: "Montserrat", sans-serif;

  /* Sizes */
  --h1-size: 95px;
  --h1-height: 100px;
  --h2-size: 50px;
  --h2-height: 70px;
  --h3-size: 40px;
  --h4-size: 32px;
  --h5-size: 28px;
  --h6-size: 22px;
  --subtitle-size: 17px;
  --subtitle-height: 17px;
  --p-size: 18px;
  --p-height: 26px;
  --secondary-text-size: 14px;
  --secondary-text-height: 18px;

  /* SPACING */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
}

body {
  font-family: var(--body-font);
  color: var(--text-dark);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: var(--spacing-sm) 0 0 0;
}

h1 {
  font-weight: 600;
  font-size: var(--h1-size);
  font-family: var(--heading-font);
  width: 100%;
  margin: 0;
  letter-spacing: -4px;
  line-height: var(--h1-height);
}
h2 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h2-size);
  margin: 0;
  width: 100%;
  letter-spacing: -2px;
  line-height: var(--h2-height);
}
h3 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h3-size);
  margin: 0;
  width: 100%;
  letter-spacing: -1px;
}

h4 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h4-size);
  margin: 0;
  width: 100%;
  letter-spacing: -0.5px;
}
h5 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h5-size);
  margin: 0;
  width: 100%;
  letter-spacing: -0.25px;
}
h6 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h6-size);
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--purple-1);
  font-weight: 600;
  transition: color 0.25s ease;
}

a:hover {
  color: var(--primary-accent);
}

p {
  font-size: var(--p-size);
  line-height: var(--p-height);
  font-weight: 400;
  margin: var(--spacing-md) 0;
}

.subtitle,
.subtitle2 {
  color: var(--purple-1);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-height);
}

.subtitle2 {
  color: var(--blue-1);
}

.secondary-text {
  font-size: var(--secondary-text-size);
  line-height: var(--secondary-text-height);
  color: var(--text-grey);
  letter-spacing: 0.3px;
}
